.slider h3 {
  font-weight: bolder;
}

.slides li {
  position: relative;
}

.slides li img {
  filter: brightness(50%); 
}

.slides li .caption {
  z-index: 2; 
}

footer ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

footer ul li {
  display: inline-block;
}

@media only screen and (min-width: 993px) {
  .container {
    width: 90%;
  }
}

.side-nav {background-color: #af0661;}
.side-nav li>a {color: #fff;}


