body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f192bd;
    color: white;
}

header, .portfolio, footer {
    padding: 40px;
    text-align: center;
}

h1, h2, h3 {
    color: #3498db;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
    background-color: #731D55;
    padding: 20px;
    border-radius: 30px;
}

.profile img {
    width: 250px;
    height: 200px;
    border-radius: 50%;
    margin-right: 20px;
}

.buttons .button {
    color: white;
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
}

.buttons .button.blue {
    background-color: #020426;
    color: white;
}

.buttons .button.blue:hover {
    background-color: red;
}

.buttons .button.purple {
    background-color: #8e44ad;
}

.buttons .button.green {
    background-color: #27ae60;
}

.buttons .button.round {
    border-radius: 50px;
}

.portfolio {
    background-color: rgba(0, 0, 0, 0.681);
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project {
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.project h3 {
    color: white;
}

.project img {
    max-width: 100%;
    height: auto;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    filter: invert(1);
}

.container {
    max-width: 100%;
    margin: auto;
    padding: 10px;
}

a {
    text-decoration: none;
    color: white;
}

.zap {
    background-color: #06094e;
    padding: 10px;
    border-radius: 20px;
}

a:hover {
    color: white;
    background-color: rgb(229, 5, 5);
    padding: 10px;
    border-radius: 30px;
}

p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 20;
    overflow: hidden;
    color: black;
}

.preco {
    font-size: 15px; 
    color: #c70bd1;
    font-weight: bold;
    text-decoration: underline; 
    font-style: italic;
  }  

.descricao {
    display: block;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #f1f1f4;
}

.row {
    width: auto;
    margin: 10px;
    padding: 8px;
}

.row > .column {
    padding: 6px;
    float: left;
    width: 25%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.content {
    background-color: white;
    padding: 10px;
    border: 1px solid gray;
}

img, iframe {
    max-width: 100%;
    height: 200px;
    width: 200px;
    height: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    color: black;
    background-color: white;
}

th, td {
padding: 8px;
text-align: left;
border-bottom: 1px solid #ddd;
}

th {
background-color: #f2f2f2;
}

footer {
    background-image: linear-gradient(to bottom, #BD2A2E, #f51729);
    margin: 0px;
    padding: 10px;
    padding-bottom: 50px;
}

@media screen and (max-width: 600px) {
table, thead, tbody, th, td, tr {
    display: block;
    }

th {
    display: none;
    }

td {
    border: none;
    position: relative;
    }

td::before {
    content: attr(data-label);
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    }
}

@media screen and (min-width: 701px) {
    .profile img {
        width: 400px;
        height: 400px;
    }
    .descricao {
        font-size: 20px;
    }
    .portfolio {
       width: 70%; 
    }
    .row {
        width: 100%;
    }
    .column {
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 10px;
    }
    .content {
        width: 100%;
        display: flexbox; 
    }
    #git {
        width: 400px;
        height: 300px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
    }
    h1, h2, h3 {
        font-size: 1.5em;
    }
    p {
        font-size: 17px;
    }
    a {
        font-size: 15px;
    }
}

@media screen and (max-width: 700px) {
    .profile img {
        align-items: center;
        width: 120px;
        height: 120px;
    }
    .descricao {
        font-size: 12px;
    }
    .portfolio {
        width: 60%; 
    }
    .row {
        width: 400px;
    }
    .column {
        width: 200px;
        margin-left: 40px;
        margin-right: 100px;
        margin-bottom: 10px;       
    }
    .content {
        width: 150px;
        margin-right: auto;
        margin-left: -20px;        
    }
    #git {
        width: 200px;
        height: 150px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
    }
    h1, h2, h3 {
        font-size: 15px;
    }
    p {
        font-size: 10px;
    }
    a {
        font-size: 10px;
    }
}
